#container{
  margin: auto auto;
  margin-top: 20%;
  width: 50%;
  text-align: center;
  font-size:x-large;
  border: 2px solid;
  padding: 40px 20px 20px 20px;
}
.button{margin-left: 45%;
margin-top: 3%;}